{% extends 'base.html' %}

{% block header %}
    <nav>
        <a href="" class="brand">
            <i class="logo logo-acm-white"></i>
            <span>UNCC ACM</span>
        </a>

        <span class="spacer"></span>

        <a href="/">Home</a>
        <a href="https://calendar.google.com/calendar?cid=dW5jYy5lZHVfdm9hdGdmcDVqbzhkaGVzNHFsbXF0bjMxYzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">
            Calendar</a>
    </nav>
{% endblock %}

{% block body %}
    <i class="logo logo-acm-color logo-xl float-right"></i>

    {% block article %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <section>
        <h3>Useful Sites</h3>
        <a href="https://open.kattis.com/">Kattis</a>
        <a href="https://icpc.baylor.edu/">ICPC</a>
        <a href="https://codingcompetitions.withgoogle.com/codejam">Google Code Jam</a>
    </section>

    <div class="spacer"></div>

    <section class="text-right">
        <h3>Parent Organizations</h3>
        <a href="https://www.uncc.edu/">University of North Carolina at Charlotte</a>
        <a href="https://cci.uncc.edu/">College of Computing and Informatics</a>
        <a href="https://www.acm.org/">Association for Computing Machinery</a>
    </section>
{% endblock %}
