/* primary */
$green: #00703C;
$gold: #b3a369;
$black: #000000;
$white: #ffffff;

/* supporting */
$dark-green: #2c5234;
$light-green: #509e2f;
$stone-gray: #717c7d;
$bright-gold: #f0cb00;
$warm-gray: #696158;

/* callouts */
$royal: #72246c;
$ocean: #006ba6;
$flash: #b52555;
$citrus: #ffb81c;
$spring: #cedc00;

/* screens */
$garden: #b7ce95;
$sand: #f0e991;
$bloom: #f1e6b2;
$clay: #b7b09c;
$cloud: #bac5b9;
